body {
  background-color: #000;
}
* {
  box-sizing: border-box;
}

header {
  position: absolute;
  background-color: #055291;
  text-align: center;
  color: #fff;
  width: 80%;
  height: 15%;
  left: 10%;
  top: 5%;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

nav {
  position: absolute;
  background-color: blueviolet;
  color: #fff;
  width: 80%;
  height: 8%;
  left: 10%;
  top: 20%;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

#left {
  position: absolute;
  background-color: rgb(118, 176, 215);
  color: #fff;
  width: 25%;
  height: 60%;
  left: 10%;
  top: 28%;
  border-left: 3px solid #fff;
}

#rigth {
  position: absolute;
  background-color: rgb(65, 6, 167);
  text-align: right;
  color: #fff;
  width: 55%;
  height: 60%;
  left: 35%;
  top: 28%;
  border-right: 3px solid #fff;
}

footer {
  position: absolute;
  background-color: rgb(53, 1, 96);
  text-align: center;
  color: #fff;
  width: 80%;
  height: 8%;
  left: 10%;
  top: 88%;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}
